<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story6.css' %}" />
    <title>Document</title>
</head>
<body>
    <div class= "d-flex justify-content-center">
        <h1 id="teks1">Halo, Masukan status mu!</h1>
    </div>

    <div class="container mt-4 mb-4">
        <div class= "d-flex justify-content-center container mt-4 mb-4">
            <form method="POST" id = "form">
                {% csrf_token %}
                {{formulir}}
                <br>
                <div class = "d-flex justify-content-center container mt-4 mb-4">
                    <input href="/" type = "submit" name = "submit" value = "Add" class = "btn btn-primary btn-lg " id= "submit">
                </div>
        </div>      
    </form>
    </div>

    <div class="container mt-4 mb-4">
        {% if obj %}
        {% for x in obj %}
        <div class = "card p-4 m-3 d-flex">
            <h1 id = "teks2">{{ x.status }}</h1>
            <h2 id = "teks3">{{ x.tanggal }}</h2>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>