body{
    background-image: linear-gradient(to right, rgb(126, 126, 226) , rgb(64, 214, 84));
}

#teks1{
    font-family: Cocogoose;
    margin-top: 8%;
}

#teks2{
    font-family: Montserrat;
    font-weight: 700;
}

#teks3{
    font-family: Montserrat;
    font-weight: 100;
}

#form{
    border-radius: 50px;
}

.btn-lg {
    /* padding: 10px 16px;
    font-size: 18px; */
    line-height: 1.4;
    border-radius: 50px;
    width: 150px;  
    color: black;
    background: linear-gradient(to right, rgb(196, 201, 155) , rgb(161, 230, 170));
    border: burlywood;
}

.form-control{
    border-radius: 50px;
}

.card{
    border-radius: 50px;
    background: rgb(192, 233, 198);
}


